.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  &__img {
  }
  &__heading {
    font-size: 2.8rem;
    color: #242527;
    font-weight: 600;
  }
  &__detail {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 4.7rem;
    color: #000000;
    width: 35.4rem;
  }
}
